DASHSCOPE_API_KEY=
THINKRAG_PARSE_PROVIDER=auto
THINKRAG_PARSE_CACHE_DIR=storage/parsed
DASHSCOPE_WORKSPACE_ID=
DASHSCOPE_CATEGORY_ID=
THINKRAG_OCR_ENABLED=false
THINKRAG_OCR_LANG=ch
THINKRAG_OCR_DPI=300
